header{
    background-image: url(img/pattern.png);
background-color: lightblue;
    height: 200px;
}
header img{
    height: 80px;
    padding-top: 110px;
}
.author{
    color: blue;
}
.date{
    font-size: 10px;
    margin-top: 0;
}
.photo_footer{
    margin: 0;
    font-size: 10px;
}
.highlights{
    background-color: yellow;
}
thead th{
text-align: left;
}